.container {
    background-size: cover;
    background-position: center;
    padding: 20px;
  }
  
  .title {
    color: rgba(41, 41, 41, 0.844);
    text-align: center;
    font-size: 40px;
    margin-bottom: 5%;
  }
  
  .label {
    color: rgba(41, 41, 41, 0.844);
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
  }
  
  .inputBlock {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .inputBlock input {
    font-weight: 500;
    font-size: 1rem;
    color: #020101;
    width: 400px;
    height: 20px;
    padding: 15px 15px;
    border-radius: 1rem;
    border: 0.01rem solid #c0c0c0;
    outline: none;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .inputBlock span.placeholder {
    position: absolute;
    margin: 8px 0;
    padding: 0 9px;
    color: #b4b2b2;
    display: flex;
    align-items: center;
    top: 0;
    left: 17px;
    transition: all 0.2s;
    transform-origin: 0% 0%;
    pointer-events: none;
  }
  
  .inputBlock input:valid + span.placeholder,
  .inputBlock input:focus + span.placeholder {
    transform: scale(0.8) translateY(-30px);
    background: #2c2c2c;
  }
  
  .inputBlock input:focus + span.placeholder {
    color: #c8c8c8;
    border-radius: 2px;
  }
  
  .error {
    color: rgba(41, 41, 41, 0.844);
    margin-top: 5px;
  }
  
  .button {
    width: 200px;
    height: 50px;
    font-size: 14px;
    color: #ffffff;
    background-color: #1d1f24;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-top: 20px;
    margin: 10px;
  }
  
  .button:hover {
    background-color: #434343;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.82);
    color: #fff;
    transform: translateY(-2px);
  }
  
  .button:active {
    transform: translateY(-1px);
  }

  .back{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(252,218,255,1) 100%);
    color: #af1cc2;
  }