<<<<<<< HEAD
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 80%;
  border: 1px solid black;
=======
.body_container {
  max-width: 800px;
  margin: 0 auto;
  margin: 2.5% auto;
  padding: 20px;
  border: 3px solid #2a2828;
  border-radius: 30px;

  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}

.form {
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 20px;
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
>>>>>>> 974c1073c642f333cfa2c0470c747c4543aa554c
}

.statsAndTypes {
  display: flex;
}



.centralize {
  display: flex;
  justify-content: center;
}

.inputBlock {
<<<<<<< HEAD
  position: relative;
  margin: 10px 0;
=======
  margin-bottom: 20px;
  padding: 10px;
}

.label_name {
  font-weight: bold;
>>>>>>> 974c1073c642f333cfa2c0470c747c4543aa554c
}

.input {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.err {
  color: red;
  font-size: 14px;
  margin: 5px 0;
}

.placeholder {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 14px;
  pointer-events: none;
  transition: all 0.2s;
  color: #888;
}

.input:focus + .placeholder,
.input:valid + .placeholder {
  top: 0;
  left: 10px;
  transform: translateY(-50%);
  font-size: 12px;
  color: #333;
}

.select {
  height: 190%;
  width: 111%;
  border-radius: 5px;
  border: 1px solid #ccc;

}

.all {
  font-weight: bold;
}

.category {
  text-transform: capitalize;
}

.color {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.color label {
  margin-right: 10px;
}

.enviar,
.button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

<<<<<<< HEAD
=======
.felx_container {
  display: flex;
  justify-content: space-between;
}

.price_container {
  display: block;
  align-items: center;
}

>>>>>>> 974c1073c642f333cfa2c0470c747c4543aa554c
.button {
  margin-left: 20px;
}

.nav {
  margin-top: 20px;
}

.linkss {
  text-decoration: none;
}



/************************************************************/

.button {
  width: 150px;
  height: 50px;
  font-size: 14px;
  color: #ffffff;
  background-color: #1d1f24;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-bottom: 10%;
}

.button:hover {
  background-color: #434343;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.82);
  color: #fff;
  transform: translateY(-2px);
}

.button:active {
  transform: translateY(-1px);
}