.cart{
    width: 300px;
    height:300px;
    background-image: url('../../assets/cart.png');
    background-position: center;
    background-size: contain;
    margin: 20px;
}
.crtPrdct{
    border: 1px solid black;
    width: 90vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    border-radius: 20px;
    position: relative;
}

.trash{
    position: absolute;
    top: 20px;
    right: 20px;
}

.cantidadProducto{
    /* border: 1px solid black; */
    border-radius: 20px;
    width: fit-content;
    margin-bottom: 10px;
}

.bttnAdd{
    border-radius: 0 20px 20px 0;
    border: none;
    height: 20px;

}

.bttnSub{
    border-radius: 20px 0 0 20px;
    border: none;
    height: 20px;
}

.emptyCart{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(252,218,255,1) 100%);
    color: #af1cc2;
}

.productAmout{
    text-align: center;
    width: 100px;
    border: 1px solid black;
}

.containerCart{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}
