.mainContainer {
    display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: 100%;
      border-radius: 20px;
      background: rgb(255, 255, 255);
      background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(252, 218, 255, 1) 100%);
      color: #af1cc2;
}

.mainContainer:hover {
  box-shadow: 0 16px 25px rgba(0, 0, 0, 0.123);
  transition: 0.4s;
  transform: scale(1.01);
}

.card {
  height:250px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 20px;
}

.title {
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px; 
  height: 50px;
  width: 200px;
  color: #434343;
}

.price {
  text-decoration: none;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #434343;
}

.link {
  text-decoration: none;
  max-height: 700px;
  max-width: 460px;
}

.edit {
  width: 20px;
  height: 20px;
}

.edit:hover {
  box-shadow: 0 16px 25px rgba(0, 0, 0, 0.827);
}

.svg {
  margin-left: 400px;
  margin-top: 644px;
  position: absolute;
  width: 34px;
}

.svg:hover {
  transition: 0.4s;
  transform: scale(1.5);
}

.svg2 {
  width: 30px;
  margin: 0px;
  padding: 0px;
}


.svg2:hover {
  transition: 0.4s;
  transform: scale(1.5);
}

.price_and_fav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  width: 100%;
}
