* {
  font-family: "Lato", sans-serif;
}


.wppContainer {
  position: fixed;
  bottom: 13%;
  left: 94.5% ;
  z-index: 9999;
}



.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
