* {
  font-family: "Lato", sans-serif;
}


.wppContainer {
  position: fixed;
  bottom: 17%;
  left: 93.2% ;
  z-index: 9999;
}



.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
